<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>WordStraw</title>
	<link href="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<style>
	.container {max-width: 700px;}
	</style>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
		<a class="navbar-brand" href="/">提示词批量获取</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">前缀词组列表</a>
			</li>
		</ul>
		<a href="/new" class="btn btn-success" role="button">新建前缀词组</a>
	</nav>
	{% block content %}{% endblock %}
	</div>
	<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.slim.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	{% block script %}{% endblock %}
</body>
</html>