{% extends "layout.njk" %}

{% block content %}
<ul class="list-group">
{% for preset in presets %}
	<a class="list-group-item d-flex justify-content-between align-items-center" href="/preset/{{preset.id}}">
		{{preset.sample5}}...
		<span class="badge badge-primary badge-pill">{{preset.amount}}</span>
	</a>
{% endfor %}
</ul>
{% endblock %}