{% extends "layout.njk" %}

{% block content %}
<form action="/new" method="post" enctype="multipart/form-data">
	<h2 class="h3 my-4">新建前缀词组</h2>
	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link active" id="fileup-tab" data-toggle="tab" href="#fileup" role="tab" >上传文本文件</a></li>
		<li class="nav-item"><a class="nav-link" id="wordstext-tab" data-toggle="tab" href="#wordstext" role="tab" >填写文本框</a></li>
	</ul>
	<div class="tab-content mt-3">
		<div class="tab-pane fade active show" id="fileup" role="tabpanel" aria-labelledby="fileup-tab">
			<div class="form-group">
				<label>文本文件</label>
				<input type="file" name="file" class="form-control-file">
				<small class="form-text text-muted">上传txt文件，每行一个前缀词</small>
			</div>
		</div>
		<div class="tab-pane fade" id="wordstext" role="tabpanel">
			<div class="form-group">
				<label>输入前缀词组</label>
				<textarea name="text" class="form-control" rows="6"></textarea>
				<small class="form-text text-muted">每行一个前缀词</small>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}