{% extends "layout.njk" %}

{% block content %}
<h2 class="h5">{{preset.sample5}}等{{preset.amount}}个前缀</h2>
<p>{{preset.sample50}}... <a href="/preset-file/{{preset.id}}" target="_blank">查看所有前缀</a></p>

{% if wip %}
...正在获取中...
<div class="progress">
	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;"></div>
</div>
{% else %}
<form action="/addjob" method="post">
	<input type="hidden" name="id" value="{{preset.id}}">
	<button type="submit" class="btn btn-primary">获取相关搜索词</button>
</form>
{% endif %}
<h3 class="h6 mt-4">已获取搜索词文件：</h3>
<ul class="list-group mt-3">
	{% for file in files %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
		<span>{{file.path}} <small>({{file.date}})</small></span>
		<a href="/down/{{preset.id}}/{{file.path}}">下载UTF-8</a>
		<a href="/down-gb/{{preset.id}}/{{file.path}}">下载GBK</a>
	</li>
	{% else %}
	<li class="list-group-item">暂无，请点击上方按钮获取</li>
	{% endfor %}
</ul>

{% endblock %}
{% block script %}
{% if wip %}
<script>
var interval = setInterval(function(){
	fetch('/completed/{{preset.id}}')
	.then(res => res.json())
	.then(completed => {
		if (completed) {
			clearInterval(interval)
			window.location.reload()
		}
	})
}, 2000)
</script>
{% endif %}
{% endblock %}